@model WebPortal.ViewModels.ProductCommentRequest

@{
    ViewData["Title"] = "Product Comment - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Product Comment: <b>@ViewBag.ProductName</b></h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <a asp-action="Index" asp-route-productid="@ViewBag.ProductID">Back to List</a>
        </h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ParentID" />
            <input type="hidden" asp-for="ProductID" />
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control ckeditor"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<WebPortal.Data.Enums.Status>()">
                    <option>Select status ...</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <hr />
            <div class="form-group">
                <button class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-save"></i>
                    </span>
                    <span class="text">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

