@{
    ViewData["Title"] = "Account - Update Succeed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Account</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Update
        </h6>
    </div>
    <div class="card-body">
        <h6 class="text-success">Successful!</h6>
        <p>Your account has been updated.</p>
    </div>
</div>
